*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto Slab', serif;
	text-decoration: none;
}
main{
	background-color:#85C226;
	height: 190vh;
}
header {
	display: flex;
	text-align: center;
	justify-content: space-between;
}
.firstboxHeader__logo {
	width:50px;
	height:50px;
	margin-left: 40px;
}
.firstboxHeader__nav {
	color: #E67816;
	font-size: 25px;
	padding: 10px;
}
.boxquiz__title{
	font-size: 40px;
	color: #fff;
	padding: 30px 30px 0px 30px;
}
.boxquiz__subtitle{
	color: #00923F;
	margin-left: 25px;
}
.boxquiz{
	/*display:flex;*/
}
.boxquiz__question{
	font-size: 20px;
	padding: 15px;
	color: #FFF;
	font-weight: bold;
}
.boxquiz__block{
	display: flex;
	width: 60vw;
}
.boxquiz__tampa{
 	display: flex;
 	width: 180px;
 	height: 220px;
 	background-color: #FFF;
 	margin-left: 20px;
 	justify-content: center;
 	padding: 15px;
 	flex-direction: column;
}
.boxquiz__picture--tampa{
	height:150px;
}
.boxquiz__picture--agua{
	height:150px;
	text-align: center;
	color: #FFF;
}
.boxquiz__input{
 	width: 20px;
 	margin: 10px;
}
.firstboxFooter{
	display: flex;
	justify-content: space-around;
	color: #85C226;
	background-color: #333333;
}
.firstboxFooter__contato{
	/*height: 300px;
	width: 300px;*/
}
.firstboxFooter__paragraphcolor{
	color: #E67816;
}
.firstboxFooter__title, .firstboxFooter__contato, .firstboxFooter__parceiros {
	/*color: #85C226;*/
	width: 30vw;
	font-size: 12px;
}
.firstboxFooter__parceiros{
	display: flex;
	flex-direction: column;
}
.firstboxFooter__parceiros--first{
	color: #E67816;
}
.firstboxFooter__parceiros--second{
		color: #E67816;
}
.firstboxFooter__picture{
	width: 30px;
	height: 30px;
}
.block{
	display: flex;
}
.testando{
	width: 150px;
    height: 200px;
    text-align: center;
	background-color: #E67816;
}
.boxquiz__saude--paragraph{
	margin-top: 40px;
	color: #FFF;
	font-weight: bold;
	font-size: 17px;
}
.consumo__main{
	background-color: #85C226;
    height: 150vh;
}