*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto Slab', serif;
	text-decoration: none;
}
header {
	display: flex;
	text-align: center;
	justify-content: space-between;
}
.firstboxHeader__logo {
	width: 50px;
	height:50px;
	margin-left: 40px;
}
.firstboxHeader__nav {
	color: #E67816;
	font-size: 25px;
	padding: 10px;
}
.secondboxHeader__subnav{
	background: #FFF974;
	border-style: solid;
	border-color: #7AC49F;
	border-width: 2px;
	display: flex;
	justify-content: flex-end;
}
.secondboxHeader__nav{
	padding: 20px;
	color: #E67816;
}
.firstboxMain{
	height: 67vh;
	display: flex;
	justify-content: space-between;
	background-image: url(assets/fundohome.jpg);
	
}
.firstboxMain__text{
	color: #FFFFFF;
	font-size: 13px;
	width: 220px;
	text-align: justify-all;
	margin: 0px 0px 0px 40px;
}
.firstboxMain__text--title{
	font-size: 41px;
	color: #fff;
	padding: 20px 0px 10px 25px;
	margin-top: 40px;
}
.firstboxMain__video{
	padding: 50px 0px 20px 20px;
}
.secondboxMain{
	display: flex;
	justify-content: space-between;
	background: #333333;
}
.secondboxMain__text{
	color: #fff;

}
.secondboxMain__text--title{
	font-size: 38px;
	color: #85C226;

}
.secondboxMain__picture{
	
}
 .secondboxMain__picture--photo{
 	width: 600px;
 	/*height: 450px;*/

 }
 .objetivosbox{
 	display: flex;
 	background-color: #fff;
 	align-items: center;
 }

 .objetivosbox__title{
 	font-size: 35px;
 	color: #00923F;
 }
 .objetivosbox__Gerais{

 }
 .objetivosbox__Gerais--title{

 }
 .objetivosbox__Gerais--paragraph{
 	
 }