* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto Slab', serif;
	text-decoration: none;
}
header {
	display: flex;
	text-align: center;
	justify-content: space-between;
}
.firstboxHeader__logo {
	width:110px;
	height:100px;
}
.firstboxHeader__nav {
	color: #E67816;
	font-size: 25px;
	padding: 10px;
}
.firstboxMain{
	display: flex;
	justify-content: space-around;
}
.firstboxMain__title{
	font-size: 32px;
	color: green;
}
.firstboxMain__paragraph{
	width: 650px;
	height: 400px;
	font-size: 13px;
}
.firstboxMain__subtitle{
	font-size: 28px;
	color: #E67816;
	display: flex;
}
.secondboxMain{
	background-image: url(assets/garoto-reciclando.jpg);
	display: flex;
	justify-content: space-between;
}
.secondboxMain__title{
	font-size: 32px;
	color: #fff;
	margin-left: 28px;
}
.secondboxMain__backlist{
	display: flex;
	flex-direction: column;
 }
.secondboxMain__list{
	font-size: 24px;
	font-weight: bold;
	color: #E67816;
	background-color: #fff;
	margin: 20px 10px 20px 30px;
	padding: 5px 10px 5px 10px;
}
.secondboxMain__subtitle{
	color:#00923F;
}
.secondboxMain_calendar{
	background-color: #fff;
	border-style: solid 20px;
}

.thirdboxMain{
	display: flex;
	justify-content: space-around;
	background-color: #333333;
}

.thirdboxMain__title{
	font-size: 38px;
	color: #85C226;
	height: 250px;
}

.thirdboxMain__graphic{
	width: 500px;
	height: 400px;
	font-size: 13px;
	color: #fff;
}
.thirdboxMain_subtitle{
	color: #fff;
}

.fourthboxMain{
	display: flex;
	justify-content: space-around;
}

.fourthboxMain__Point{
	width: 500px;
	height: 400px;

}
.fourthboxMain__title{
	font-size: 36px;
	color: #00923F;

}

.fourthboxMain__subtitle{
	font-size: 28px;
	color: #85C226;
}

.fourthboxMain__greenball{
	border-radius:50%;
    width:20px;
    height:20px;
   
    background-color: #00923F;
}

.fourthboxMain__orangeball{
	border-radius:50%;
    width:20px;
    height:20px;
    
    background-color: #E67816;
}

.fifthboxMain{
	width: 100%;
	background-color: #85C226;
}

.fifthboxMain__title{
	font-size: 36px;
	color: #fff;
}
.fifthboxMain__subtitle{
	font-size: 26px;
	color: #00923F;
}

.fifthboxMain__picture{

	display: flex;
	justify-content: space-around;
	width: 100%;
}

.fifthboxMain__picture--vocesabia{
	width: 30%;
}
.firstboxFooter{
	display: flex;
	justify-content: space-around;
	color: #85C226;
	background-color: #333333;
}
.firstboxFooter__contato{
	/*height: 300px;
	width: 300px;*/

}
.firstboxFooter__paragraphcolor{
	color: #E67816;
}
.firstboxFooter__title, .firstboxFooter__contato, .firstboxFooter__parceiros {
	/*color: #85C226;*/
	width: 30vw;
	font-size: 12px;
}
.firstboxFooter__parceiros{
	display: flex;
	flex-direction: column;
}
.firstboxFooter__parceiros--first{
	color: #E67816;
}
.firstboxFooter__parceiros--second{
		color: #E67816;
}
.firstboxFooter__picture{
	width: 30px;
	height: 30px;
}
.block{
	display: flex;
}