* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto Slab', serif;
	text-decoration: none;
}
header {
	display: flex;
	flex-direction:column;
	text-align: center;
	justify-content: space-between;
}
label{
    margin: 7px 25px 0px 0px;
    font-size: 45px;
    display: none;
    width:80px;
    float: right;
    color:#E3771A;
  }
  #mobile{
    display: none;
  }
.secondboxHeader__subnav{
	margin-right: 30px;
    padding: 31px 0 0 0;
}
.blockheader{
	display: flex;
	justify-content: space-between;
}
.firstboxHeader__logo {
	/* width: 50px; */
    height: 90px;
    margin-left: 19px;
    padding: 11px;
}
@media(max-width:768px){
	.firstboxHeader__logo{
		display: none;
	}
}
.navbar{
	display: flex;
	align-items: center;
}
.navbarLink{
	color:#E67816;
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
}
.boxlogo {
	background-image: url(assets/fundohome.jpg);
	background-repeat: no-repeat;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-size: cover;
}
.firstboxMain__logohome{
	width: 500px;
	height: 200px;
}
@media(max-width:768px){
	.firstboxMain__logohome{
		width:80%;
	}
}
@media(max-width:490px){
	.firstboxMain__logohome{
		height:170px;
	}
}
.firstboxMain__paragraph--logo{
	font-size: 30px;
	color: #fff;
	font-weight: bold;
	width: 340px;
}
@media(max-width: 768px){
	.firstboxMain__paragraph--logo{
		width:60%;
		text-align: center;
		/*font-size: 20px;*/
	}
    label{
      display: block;
      cursor: pointer;
    }
    .blockheader{
     	position: absolute;
		left: 0; 
    }
    .blockheader:hover{
    	position:static;
    }
    .navbar{
		/*text-align: center;*/
		width: 100%;
		display: none;
    }
    .navbarLink{
	    /* display: block; */
	    width: 34%;
	    font-size: 24px;
	    text-align:start;
	    float: left;
	    background-color: white;
    }
    #mobile:checked ~ .navbar{
      display: block;
    }

}
@media(max-width:567px){
	.firstboxMain__paragraph--logo{
		width:80%;
	}
}
@media(max-width:424px){
	.firstboxMain__paragraph--logo{
		font-size:22px;
	}
}
.firstboxMain{
    width:100%;
    height:auto;
    text-align: start;
    display: flex;
    justify-content: space-around;
}

.firstboxMain__sobre{
	width: 50%;
    height: auto;
    font-size: 14px;
    /* padding: 20px; */
}
.firstboxMain__title{
	/*width: 100%;*/
    font-size: 48px;
    color: green;
    font-weight: bold;
    margin-top: 40px;
    padding: 0 0 0 10px;
}
.firstboxMain__paragraph{
	width:100%;
    padding: 6px 0px 10px 16px;
}
.firstboxMain__subtitle{
	height:64px
	font-size: 30px;
    color: #E67816;
    display: flex;
    margin-top: 30px;
    margin-left: 30px;
}
.firstboxMain__picture{
	width: 50%;
}
.firstboxMain__picture--sobre{
	padding: 22px;
    width: 100%;
    height: 386px;
    margin-top:59px;
}
.firstboxmainPicturemobile{
	display:none;
}
@media(max-width:768px){
	.firstboxMain{
		flex-direction: column;
	}
	.firstboxMain__sobre{
		width: 100%;
	    font-size: 18px;
	}
	.firstboxMain__picture{
		width:100%;
	}
	.firstboxMain__picture--sobre{
		display:none
	}
	.firstboxmainPicturemobile{
		width: 100%;
		height:300px;
		display:block;
	}
}
.secondboxMain{
	background-image: url(assets/fundo-acoes.jpg);
	width: 100%;
	/*height:75vh;*/
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	/*flex-wrap: wrap;*/
	justify-content: space-between;
	position: relative;
}
@media(max-width:870px){
	.secondboxMain{
		flex-direction:column;
	}
	.secondboxMain__calendar{
	position: relative;
	}
}
.secondboxMain:after {
	content: "";
	width: 100%;
	height:100%;
	position: absolute;
	background-color: #85C226;
	opacity: 0.8;
}
.actionbox__calendarspan{
	z-index: 5;
	padding: 15px;	
}
.secondboxMain__title{
	font-size: 40px;
	color: #fff;
	margin: 20px 0px 10px 0px;
}
.secondboxMain__backlist{
	display: flex;
	flex-direction: column;
	z-index: 5;
	line-height: 3;
 }
 .secondboxmainLink{
 	width: max-content;
 	height: max-content;
    background: white;

 }
.secondboxMain__list{
	font-size: 16px;
	font-weight: bold;
	color: #E67816;
	background-color: #fff;
	/*margin-bottom: 30px;*/
	/*padding: 5px 10px 5px 10px;*/
	/*line-height: 32px;*/
}
.secondboxMain__calendar{
    width: 34%;
    height: 90%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background-color: #fff;
    z-index: 5;
    margin: 10px;
    padding: 20px;
}
@media(max-width:768px){
	.secondboxMain__calendar{
		width: 60%;
	}
}
@media(max-width: 425px){
	.secondboxMain__calendar{
		width: 75%;
	}
	.secondboxMain__list{
		font-size: 19px;
	}
}
.secondboxMain__blocktitle{
	text-align: center;
}
.secondboxMain__calendar--title{
    font-size: 22px;
    color: #00923F;
    /* text-align: center; */
}
.actionbox__calendarlist{
	height:inherit;
	display: flex;
}
.seta{
	margin-left: auto;
    color: green;
}
#toggle-1 {
	display: none;
}
@media(max-width: 839px){
	.toggle-1{ 
	  -webkit-appearance: push-button;
	  -moz-appearance: button; 
	  display: inline-block;
	  cursor: pointer;
	  padding: 5px;
	}
	#mostra {
	   display:none;
	}
	#toggle-1:checked ~ #mostra {
	   display:block;
	}
	.seta{
		display: block;
	}
}

.secondboxMain__blocknumber{
	display: flex;
	flex-direction: column;
}
.secondboxMain__calendar--number{
	font-size: 30pt;
    padding: 0px 10px 0px 0px;
    color: #85C226;
}
.secondboxMain__calendar--month{
	color: #85C226;
}
.secondboxMain__blockparagraph{
	display: flex;
	flex-direction: column;
	padding-top: 12px;
}
.secondboxMain__calendar--paragraphfirst{
	font-size: 13px;
    color: #85C226;
}
.secondboxMain__calendar--paragraph{
	font-size: 15px;
    color: #7AC49F;
}
.thirdboxMain{
	height: auto;
	display: flex;
	justify-content: space-around;
	background-color: #333333;
}
@media(max-width: 768px){
	.thirdboxMain{
		flex-direction: column;
		align-items: center;
	}
}
.thirdboxMain__impacto{
	width: 40%;
	height:auto;
	font-size: 15px;
	color: #fff;
}
@media(max-width: 768px){
	.thirdboxMain__impacto{
		width:80%;
	}
}
.thirdboxMain__title{
	font-size:38px;
	color: #85C226;
	padding:30px 0px 30px 0px;
}
@media(max-width: 768px){
	.thirdboxMain__title{
		width: 30px;
	}
}
.thirdboxMain__paragraph{
	padding: 15px 0px 10px 0px;
	text-align: justify-all;
}
.thirdboxMain__blockimage{
	width: 40%;
	margin: 45px 0 0 0;
}
@media(max-width: 768px){
	.thirdboxMain__blockimage{
		width: 80%;
	}
}
.thirdboxMain__picture{
	width: 100%;
    height: 305px;
}
.fourthboxMain{
	display: flex;
	flex-wrap: wrap;
}
.fourthboxMain__pontosBlock{
	display: flex;
    margin-left: 58%;
}
@media(max-width: 768px){
	.fourthboxMain__pontosBlock{
		margin-left: 0;
	}
}
.fourthboxMain__pontos{
	width: 500px;
	height: 400px;
	color: #E67816;
}
.fourthboxMain__title{
	font-size: 40px;
	color: #00923F;
	padding:50px 0px 30px 20px;
}
@media(max-width: 768px){
	.fourthboxMain__title{
		width: 217px;
	}
}
.fourthboxMain__subtitle{
	height:124px;
	font-size: 28px;
	color: #85C226;
	padding-left: 20px;
}
.fourthboxMain__greenball{
	border-radius:50%;
    width:20px;
    height:20px;
    background-color: #00923F;
}
.fourthboxMain__orangeball{
	border-radius:50%;
    width:20px;
    height:20px;
    background-color: #E67816;
}
.fourthboxMain__coleta{
    width: 50%;
    margin: 10px 0 0 0;
}
@media(max-width:768px){
	.fourthboxMain__coleta{
		width: 90%;
   		margin: 10px 0 0 43px;
	}
}
.fourthboxMain__coletafigure{
	width:100%;
}
.fifthboxMain{
	width: 100%;
	background-color: #85C226;
}
.fifthboxMain__title{
	font-size: 36px;
	color: #fff;
	padding: 20px;
}
.fifthboxMain__subtitle{
	font-size: 26px;
	color: #00923F;
	padding-left: 20px;
}
.fifthboxMain__picture{
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: 50%;
}
@media(max-width: 768px){
	.fifthboxMain__picture{
		flex-direction:column;
	}
}
.fifthboxMain__picture--vocesabia{
	width: 30%;
	height: 300px;
	padding: 0 0 10px 0;
}
@media(max-width: 768px){
	.fifthboxMain__picture--vocesabia{
		width: auto;
		height: 300px;
   	 	margin: 20px 0 0 0;
	}
}
.firstboxFooter{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	color: #85C226;
	background-color: #333333;
}
@media(max-width: 768px){
	.firstboxFooter{
		flex-direction: column;
	}
}
.firstboxFooter__title{
	width: 30vw;
	font-size: 25px;
}
.firstboxFooter__picture{
	width: 30px;
	height: 30px;
	padding: 5px;
}
.firstboxFooter__paragraphcolor{
	color: #E67816;
}
.block{
	display: flex;
}
.firstboxFooter__parceiros{
	display: flex;
	flex-direction: column;
}
.firstboxFooter__contato{
	display: flex;
	flex-direction: column;
}
.firstboxFooter__parceiros--first{
	width:50%;
	color: #E67816;
}
.firstboxFooter__parceiros--second{
	color: #E67816;
}
.firstboxMain__paragraph--size{
	font-size: 10px;
	line-height: 3;
}
.firstboxMain__paragraph--size2{
	font-size: 10px;
	width: 200px;
}
.firstboxMain__paragraph--redes{
	padding: 5px;
}
.firstboxMain__paragraph--redes2{
	padding: 5px;
	color: #E67816;
}
.firstboxFooter__blockcont {
	display: flex;
	margin-top: 15px;
}