* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto Slab', serif;
	text-decoration: none;
}
header {
	display: flex;
	text-align: center;
	justify-content: space-between;
}
.firstboxHeader__logo {
	width:50px;
	height:50px;
	margin-left: 40px;
}
.firstboxHeader__nav {
	color: #E67816;
	font-size: 25px;
	padding: 10px;
}
.boxlogo {
	background-image: url(assets/fundohome.jpg);
	background-repeat: no-repeat;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-size: cover;
}
.firstboxMain__logohome{
	width: 500px;
	height: 200px;
}

@media(max-width: 768px){
	.firstboxMain__logohome{
		width:90%;
	}
}
@media(max-width:490px){
	.firstboxMain__logohome{
		height:170px;
	}
}
.firstboxMain__paragraph--logo{
	font-size: 30px;
	color: #fff;
	font-weight: bold;
	width: 340px;
}
@media(max-width: 768px){
	.firstboxMain__paragraph--logo{
		width:60%;
		text-align: center;
		/*font-size: 20px;*/
	}
}
@media(max-width:567px){
	.firstboxMain__paragraph--logo{
		width:80%;
	}
}
@media(max-width:424px){
	.firstboxMain__paragraph--logo{
		font-size:22px;
	}
}
.firstboxHeader__logo {
	width:50px;
	height:50px;
	margin-left: 40px;
}
.firstboxHeader__nav {
	color: #E67816;
	font-size: 25px;
	padding: 10px;
}
.firstboxMain{
	display: flex;
	justify-content: space-around;
}
.firstboxMain__sobre{
	width: 650px;
	height: 400px;
	font-size: 13px;
	padding: 20px;
}
.firstboxMain__title{
	font-size: 38px;
	color: green;
	font-weight: bold;
	margin-top: 40px;
}
.firstboxMain__paragraph{
	padding: 15px 0px 10px 0px;
}
.firstboxMain__subtitle{
	font-size: 30px;
	color: #E67816;
	display: flex;
	margin-top: 30px;
}
.firstboxMain__picture{
	padding: 20px;
	margin: 10px;
}
.firstboxMain__picture--sobre{
	padding: 20px;
}
.secondboxMain{
	background-image: url(assets/fundo-acoes.jpg);
	width: 100%;
	height: 75vh;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
.secondboxMain:after {
	content: "";
	width: 100%;
	height:75vh;
	position: absolute;
	background-color: #85C226;
	opacity: 0.8;
}
.actionbox__calendarspan{
	z-index: 5;
	padding: 15px;	
}
.secondboxMain__title{
	font-size: 40px;
	color: #fff;
	margin:20px 0px 10px 28px;
}
.secondboxMain__backlist{
	display: flex;
	flex-direction: column;
	z-index: 5;
	line-height: 3;
 }
.secondboxMain__list{
	font-size: 32px;
	font-weight: bold;
	color: #E67816;
	background-color: #fff;
	margin-bottom: 30px;
	padding: 5px 10px 5px 10px;
	/*margin: 20px 10px 20px 30px;
	padding: 5px 10px 5px 10px;*/
	line-height: 32px;
}
.secondboxMain__calendar{
	width: 250px;
	height: 350px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #fff;
	z-index: 5;
	margin: 10px;
}
.secondboxMain__blocktitle{
	text-align: center;
}
.secondboxMain__calendar--title{
	font-size: 19px;
	color: #00923F;
}
.actionbox__calendarlist{
	display: flex;
}
.secondboxMain__blocknumber{
	display: flex;
	flex-direction: column;
}
.secondboxMain__calendar--number{
	font-size: 23pt;
	padding: 0px 10px 0px 0px;
	color: #85C226;
}
.secondboxMain__calendar--month{
	color: #85C226;
}
.secondboxMain__blockparagraph{
	display: flex;
	flex-direction: column;
	padding-top: 12px;
}
.secondboxMain__calendar--paragraphfirst{
	font-size: 9px;
	color: #85C226;
}
.secondboxMain__calendar--paragraph{
	font-size: 10px;
	color: #7AC49F;
}
.secondboxMain__blocknumber{
	display: flex;
	flex-direction: column;
}
.secondboxMain__blockparagraph{
	display: flex;
	flex-direction: column;
	padding-top: 12px;
}
.secondboxMain__calendar{
	width: 250px;
	height: 350px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #fff;
}
.secondboxMain__blocktitle{
	text-align: center;
}
.actionbox__calendarlist{
	display: flex;
}
.secondboxMain__calendar--title{
	font-size: 19px;
	color: #00923F;
	/*text-align: center;*/
}
.secondboxMain__calendar--number{
	font-size: 23pt;
	padding: 0px 10px 0px 0px;
	color: #85C226;
}
.secondboxMain__calendar--month{
	color: #85C226;
}
.secondboxMain__calendar--paragraphfirst{
	font-size: 9px;
	color: #85C226;
}
.secondboxMain__calendar--paragraph{
	font-size: 10px;
	color: #7AC49F;
}
.secondboxMain__calendar{
	background-color: #fff;
	margin:25px 25px 0px 0px;
}
.thirdboxMain{
	display: flex;
	justify-content: space-around;
	background-color: #333333;
}
.thirdboxMain__impacto{
	width: 500px;
	height: 400px;
	font-size: 13px;
	color: #fff;
}
.thirdboxMain__title{
	font-size:38px;
	color: #85C226;
	padding:30px 0px 30px 0px;
}
.thirdboxMain__paragraph{
	padding: 15px 0px 10px 0px;
	text-align: justify-all;
}
.fourthboxMain{
	display: flex;
}
.fourthboxMain__pontos{
	width: 500px;
	height: 400px;
}
.fourthboxMain__title{
	font-size: 40px;
	color: #00923F;
	padding:50px 0px 30px 20px;
}
.fourthboxMain__subtitle{
	font-size: 28px;
	color: #85C226;
	padding-left: 20px;
}
.fourthboxMain__greenball{
	border-radius:50%;
    width:20px;
    height:20px;
    background-color: #00923F;
}
.fourthboxMain__orangeball{
	border-radius:50%;
    width:20px;
    height:20px;
    background-color: #E67816;
}
.fifthboxMain{
	width: 100%;
	background-color: #85C226;
}
.fifthboxMain__title{
	font-size: 36px;
	color: #fff;
	padding: 20px;
}
.fifthboxMain__subtitle{
	font-size: 26px;
	color: #00923F;
	padding-left: 20px;
}
.fifthboxMain__picture{
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: 50%;
}
.fifthboxMain__picture--vocesabia{
	width: 350px;
	height: 300px;
	width: 30%;
}
.firstboxFooter{
	display: flex;
	justify-content: space-around;
	color: #85C226;
	background-color: #333333;
}
.firstboxFooter__title, .firstboxFooter__contato, .firstboxFooter__parceiros {
	/*color: #85C226;*/
	width: 30vw;
	font-size: 12px;
}
.firstboxFooter__picture{
	width: 30px;
	height: 30px;
}
.firstboxFooter__paragraphcolor{
	color: #E67816;
}
.block{
	display: flex;
}
.firstboxFooter__parceiros{
	display: flex;
	flex-direction: column;
}
.firstboxFooter__parceiros--first{
	color: #E67816;
}
.firstboxFooter__parceiros--second{
	color: #E67816;
}