* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto Slab', serif;
	text-decoration: none;
}
header {
	display: flex;
	text-align: center;
	justify-content: space-between;
}
.firstboxMain__fundohome{
	width: 100vw;
	height: 80vh;
}
.firstboxHeader__logo {
	width:50px;
	height:50px;
	margin-left: 40px;
}
.firstboxHeader__nav {
	color: #E67816;
	font-size: 25px;
	padding: 10px;
}
.firstboxMain{
	display: flex;
	justify-content: space-around;
}
.firstboxMain__sobre{
	width: 650px;
	height: 400px;
	font-size: 13px;
}
.firstboxMain__title{
	font-size: 35px;
	color: green;
	font-weight: bold;
}
.firstboxMain__paragraph{
	padding: 15px 0px 10px 0px;
	text-align: justify-all;
}
.firstboxMain__subtitle{
	font-size: 28px;
	color: #E67816;
	display: flex;
}
.firstboxMain__picture{
	padding: 20px;
	margin: 10px;
}
.secondboxMain{
	background-image: url(assets/fundo-acoes.jpg);
	width: 100%;
	display: flex;
	justify-content: space-between;
	background-size: 100% 50vh;
}
.secondboxMain__title{
	font-size: 32px;
	color: #fff;
	margin-left: 28px;
}
.secondboxMain__backlist{
	display: flex;
	flex-direction: column;
 }
.secondboxMain__list{
	font-size: 24px;
	font-weight: bold;
	color: #E67816;
	background-color: #fff;
	margin: 20px 10px 20px 30px;
	padding: 5px 10px 5px 10px;
}
.secondboxMain__subtitle{
	color:#00923F;
}
.secondboxMain_calendar{
	background-color: #fff;
	border-style: solid 20px;
}
.thirdboxMain{
	display: flex;
	justify-content: space-around;
	background-color: #333333;
}
.thirdboxMain__title{
	font-size:38px;
	color: #85C226;
	padding:30px 0px 30px 0px;
}
.thirdboxMain__paragraph{
	padding: 15px 0px 10px 0px;
	text-align: justify-all;
}
.thirdboxMain__impacto{
	width: 500px;
	height: 400px;
	font-size: 13px;
	color: #fff;
}
.thirdboxMain_subtitle{
	color: #fff;
}
.fourthboxMain{
	display: flex;
}
.fourthboxMain__pontos{
	width: 500px;
	height: 400px;
}
.fourthboxMain__title{
	font-size: 40px;
	color: #00923F;
	padding:50px 0px 30px 20px;
}
.fourthboxMain__subtitle{
	font-size: 28px;
	color: #85C226;
	padding-left: 20px;
}
.fourthboxMain__greenball{
	border-radius:50%;
    width:20px;
    height:20px;
    background-color: #00923F;
}
.fourthboxMain__orangeball{
	border-radius:50%;
    width:20px;
    height:20px;
    background-color: #E67816;
}
.fifthboxMain{
	width: 100%;
	background-color: #85C226;
}
.fifthboxMain__title{
	font-size: 36px;
	color: #fff;
	padding: 20px;
}
.fifthboxMain__subtitle{
	font-size: 26px;
	color: #00923F;
	padding-left: 20px;
}
.fifthboxMain__picture{
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: 50%;
}
.fifthboxMain__picture--vocesabia{

	width: 350px;
	height: 300px;
	width: 30%;
}
.firstboxFooter{
	display: flex;
	justify-content: space-around;
	color: #85C226;
	background-color: #333333;
}
.firstboxFooter__contato{
	/*height: 300px;
	width: 300px;*/
}
.firstboxFooter__paragraphcolor{
	color: #E67816;
}
.firstboxFooter__title, .firstboxFooter__contato, .firstboxFooter__parceiros {
	/*color: #85C226;*/
	width: 30vw;
	font-size: 12px;
}
.firstboxFooter__parceiros{
	display: flex;
	flex-direction: column;
}
.firstboxFooter__parceiros--first{
	color: #E67816;
}
.firstboxFooter__parceiros--second{
		color: #E67816;
}
.firstboxFooter__picture{
	width: 30px;
	height: 30px;
}
.block{
	display: flex;
}